<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 서비스_내용조회</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <object style="width: 100%;" data="../common/header.html" type="text/html"></object>
    <div class="container">
        <div class="page-header"><h3>🖥 게시글 상세조회</h3></div>
            <div class="float-end">
                <input type="text" id="postnum">
                <button class="btn btn-primary" onclick="dataLoad()">조회</button> <!--"inquiry()"-->
            </div>
            <table class="table" id="postTable"></table>
                <!-- <tr><td>id</td><td id></td></tr>
                <tr><td>title</td><td>hello1</td></tr>
                <tr><td>contents</td><td>hello1...</td></tr>
                <tr><td>authorID</td><td>1</td></tr> --> <!--강사님은 td에 id 달았다.-->
            </table>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      // function inquiry(){
      //   let userId = 0;
      //   userId = document.getElementById("num");
      //   dataLoad(userId);
      // } // 내가 시도

      
      async function dataLoad(){ //dataLoad(i) 내가시도
        let postId = document.getElementById("postnum").value;
        const respose = await axios.get("http://localhost:8081/post/detail"+"/"+postId);
        // const respose = await axios.get("https://jsonplaceholder.typicode.com/posts"+"/"+postId);
        document.getElementById("postTable").innerHTML = `<tr><td>ID</td><td>${respose.data.id}</td></tr><tr><td>title</td><td>${respose.data.title}</td></tr><tr><td>contents</td><td>${respose.data.contents}</td></tr>`


        // try{ 내가 시도
        //   const respose = await axios.get("https://jsonplaceholder.typicode.com/posts"+"/"+i);
        //   document.getElementsByClassName("table").innerHTML = `<tr><td>userId</td><td>${respose.userId}</td></tr><tr><td>id</td><td>${respose.id}</td></tr><tr><td>title</td><td>${respose.title}</td></tr><tr><td>body</td><td>${respose.body}</td></tr>`
        // }catch(e){
        //   console.log(e); }
      }
    </script>
  </body>
</html>
